section#containermypage{
	padding:20px 0;
	border-top:2px solid #eee;
	border-bottom:2px solid #eee;
}

section#containermypage::after {
	content:"";
	display:block;
	clear:both;
}

aside {
	float:left; 
	width:200px;
}

aside ul li {
	text-align:center;
	margin-bottom:10px;
}

aside ul li a {
	display:block;
	width:100%;
	padding:10px 0;
}

aside ul li a:hover {
	background:#eee;
}

div#container_box_mypage{
	float:right; 
	width:calc(100% - 200px - 20px);
}